.select .main {

    display: inline-block;
    border: 1px solid black;
    min-height: 20px;
    min-width: 40px;
}



.items {
    position: absolute;
    display: block;
    border: 1px solid red;
}

.item.selected {
    background-color: blue;
    color: white;
}
